<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Attraction</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis|Sacramento" rel="stylesheet">
</head>
<body>
  <div class='background'>
    <img class="index-background" src="/images/travel05.jpg" alt="">
  </div>

  <div id="edit-container">
    <h3>Travel Buddy</h3>
    <h2><%= item.name %></h2>
    <p>Update information about this bucket list item below.</p>
    <form id="edit" action="/explore/<%= item._id %>?_method=PUT" method="POST">
      <input type="hidden" name="location" value="<%= city[0].formatted_address %>">
      <input type="submit" value="Update">
    </form>
    <textarea form="edit" rows="6" cols="50" name="item[snip]" value="<%= item.snip %>">
    </textarea>
    <a href="/">Back to homepage.</a>
  </div>
</body>
</html>
