<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>City Search</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis" rel="stylesheet">
   <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA09kvA9vyvsfp5YwCTMycQ8DUMP5Pzbfo&libraries=places'></script>
</head>
<body>
  <header id="profile-header">
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Log out.">
    </form>
  </header>

  <div class='background'>
    <img class="index-background" id="login-picture" src="/images/travel04.jpg" alt="">
  </div>

  <div id="profile-container">
    <h1>The world is your oyster.</h1>
    <form id="profile-form" action="/explore" method="GET">
      <input id="autocomplete" type="text" name="location" placeholder="City">
      <input type="submit" value="Choose a city to explore.">
    </form>
  </div>

  <script>
  // https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-hotelsearch
  // some help from here as well! :
  // http://stackoverflow.com/questions/13689705/how-to-add-google-maps-autocomplete-search-box
  function makeAutocomplete() {
    const input = document.getElementById('autocomplete');
    const defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(-90,-180),
      new google.maps.LatLng(90,180));
    const options = {
      types: ['(cities)'],
      bounds: defaultBounds,
    };
    console.log('heree')
    const autocomplete = new google.maps.places.Autocomplete(input, options);
  }
  google.maps.event.addDomListener(window, 'load', makeAutocomplete);
  </script>

</body>
</html>
