<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>City Search</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis" rel="stylesheet">
</head>
<body>
  <header id="profile-header">
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Log out.">
    </form>
  </header>

  <div class='background'>
    <img class="index-background" id="login-picture" src="/images/travel04.jpg" alt="">
  </div>

  <div id="profile-container">
    <h1>The world is your oyster.</h1>
    <form id="profile-form" action="/explore" method="GET">
      <input id="autocomplete" type="text" name="location" placeholder="City">
      <input type="submit" value="Choose a city to explore.">
    </form>
  </div>

  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA09kvA9vyvsfp5YwCTMycQ8DUMP5Pzbfo&libraries=places'></script>
  <script src="/js/profile.js"></script>
</body>
</html>
