<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Dosis" rel="stylesheet">
  </head>
  <body>
    <div class='background'>
      <img class="index-background" src="/images/travel11.jpg" alt="">
    </div>
    <div id="signup-container">
      <h1>Sign up.</h1>
      <form id="signup" class="" action="/users" method="post">
          <input type="text" name="user[username]" value="" placeholder="Username">
          <input type="password" name="user[password]" value="" placeholder="Password">
          <input type="submit" value="Sign up">
      </form>
      <a href="/">Back to homepage.</a>
    </div>
  </body>
</html>
