body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.index-background {
  width: 100%;
  height: 100%;
}

#index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(235, 201, 217, 0.9);
  margin: 20vh 30vw;
  border-radius: 10px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

#index-container h1 {
  margin-bottom: 17px;
  color: #191719;
  font-size: 70px;
}

#index-container a {
  text-decoration: none;
  color: #3E3940;
  padding-bottom: 20px;
  font-size: 25px;
}

#index-container a:hover {
  color: black;
}

#signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(224, 159, 146, 0.7);
  margin: 20vh 30vw;
  border-radius: 10px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

#signup-container h3 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 20px 0 0 0;
}

#signup-container h1 {
  margin: 0 0 22px 0;
  color: #191719;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#signup-container a {
  text-decoration: none;
  padding-bottom: 30px;
  color: #343036;
  font-size: 20px;
}

#signup-container input[type=text], #signup-container input[type=password] {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #FFE7DC;
  font-size: 18px;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto 20px auto;
  -webkit-appearance: none;
}

#signup-container input[type=text]:hover, #signup-container input[type=password]:hover {
  border: 2px solid #555;
}

#signup-container a:hover {
  color: black;
}

#signup-container input[type=submit] {
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  margin-bottom: 20px;
  background-color: #876058;
  border-radius: 5px;
  -webkit-appearance: none;
}

#signup-container input[type=submit]:hover {
  background-color: #A6766C;
  -webkit-appearance: none;
}


#login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(173, 169, 171, 0.9);
  margin: 20vh 25vw;
  border-radius: 10px;
  font-family: 'Archivo Narrow', sans-serif;
}

#login-container h3 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 20px 0 0 0;
}

#login-container h1 {
  font-size: 45px;
  color: #191719;
  margin: 0;
}

#login-container p {
  margin-top: 5px;
  font-size: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#login-container input[type=text], #login-container input[type=password] {
  width: 80%;
  padding: 10px;
  border: none;
  background-color: #faf0e6;
  font-size: 18px;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto 20px auto;
  -webkit-appearance: none;
}

#login-container input[type=text]:hover, #login-container input[type=password]:hover {
  border: 1px solid #555;
}

#login-container input[type=submit] {
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  margin-bottom: 20px;
  background-color: #BA271F;
  color: white;
  border-radius: 5px;
  -webkit-appearance: none;
}

#login-container input[type=submit]:hover {
  background-color: #942921;
  -webkit-appearance: none;
}

#login-container a {
  text-decoration: none;
  padding-bottom: 30px;
  color: #343036;
  font-size: 20px;
}

#login-container a:hover {
  color: black;
}

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-family: 'Archivo Narrow', sans-serif;
}

#profile-container h1 {
  font-size: 45px;
  margin-bottom: 17px;
  color: #191719;
  margin-top: 20px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#profile-container input[type=text] {
  width: 70%;
  padding: 6px;
  border: none;
  font-size: 18px;
  text-align: center;
  border-radius: 7px;
  margin: 0 auto 20px auto;
  -webkit-appearance: none;
}

#profile-container input[type=text]:hover {
  border: 1px solid #555;
}

#profile-container input[type=submit] {
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  background-color: #A6A5AB;
  border-radius: 5px;
  -webkit-appearance: none;
}

#profile-container input[type=submit]:hover {
  background-color: #929196;
  -webkit-appearance: none;
}

#profile-header {
  width: 100%;
  height: 30px;
}

#profile-header input[type=submit] {
  float: right;
  margin: 20px 30px 0 0;
  background: none;
  border: none;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
}

#profile-header input[type=submit]:hover {
  color: #636266;
}

.explore-header {
  background-color: #316F9C;
  width: 100%;
  height: 100px;
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  position: fixed;
  top: 0;
}

.explore-header h1 {
  font-size: 70px;
  margin: 0;
  padding: 15px 0 0 15px;
  display: inline-block;
}

#logo {
  margin: 0 20px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo h2 {
  margin: 20px 0 0 0;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}

.explore-header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.explore-header-links a {
  text-decoration: none;
  color: black;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  display: inline-block;
}

.explore-header-links span {
  color: black;
}

.explore-header-links a:hover {
  color: #F2E9D8;
}

.explore-header-links input[type=submit] {
  float: right;
  background: none;
  border: none;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  display: inline-block;
}

.explore-header-links input[type=submit]:hover {
  color: #F2E9D8;
}

.explore-header-band {
  background-color: #255678;
  width: 100%;
  height: 15px;
}

.search-bar {
  margin-top: 115px;
  height: 50px;
  width: 100%;
}

.search-bar form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar input[type=text] {
  width: 70%;
  border: 1px solid black;
  padding: 4px;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  margin-right: 20px;
  -webkit-appearance: none;
}

.search-bar input[type=text]:hover {
  border: 2px solid black;
}

.search-bar input[type=submit] {
  padding: 6px 11px;
  border: none;
  font-size: 14px;
  background-color: #D9D1C2;
  border-radius: 5px;
  -webkit-appearance: none;
}

.search-bar input[type=submit]:hover {
  background-color: #ada79b;
  -webkit-appearance: none;
}

#map {
  height: 400px;
  width: 400px;
}

.search-results-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.yelp-results-container {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 20px;
}

.yelp-results-container h1 {
  margin: 0 0 20px 20px;
  display: inline-block;
}

.yelp-results {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 20px;
  height: 350px;
  overflow: scroll;
}

.tourism {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.tourism p {
  font-family: helvetica;
}

.tourism p span {
  color: #1A3C54;
  font-weight: bold;
}

.yelp-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.yelp-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.yelp-info {
  width: 80%;
  padding-right: 30px;
}

.yelp-info h2{
  margin-bottom: 0;
}

#rating {
  margin-top: 0;
}

.attraction-image {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attraction-image img {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.attraction-image input[type=submit] {
  padding: 4px 11px;
  border: none;
  font-size: 17px;
  background-color: #D9D1C2;
  border-radius: 8px;
  margin-bottom: 5px;
  font-family: 'Archivo Narrow', sans-serif;
  display: inline-block;
  -webkit-appearance: none;
}

.attraction-image input[type=submit]:hover {
  background-color: #ada79b;
  -webkit-appearance: none;
}

footer {
  background-color: #316F9C;
  color: white;
  font-family: helvetica;
  text-align: center;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

#bucket-list {
  font-family: 'Archivo Narrow', sans-serif;
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 20px 0 0;
  background-image: url('/images/map.png');
  box-shadow: 5px 5px 5px lightgray;
}
#bucket-list h1 {
  margin: 0;
}

#bucket-list h2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

#bucket-list img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

#list-item-container {
  overflow: scroll;
  width: 100%;
  height: 80%;

}

#list-item-container ul {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-here-list {
  padding-left: 7px;
  list-style: none;
}

.bucket-list-item {
  margin-top: 0;
  width: 100%;
}

.bucket-list-item h3 {
  text-align: center;
  font-family: helvetica;
  font-size: 16px;
  margin-bottom: 5px;
}

#bucket-list-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#clickme input[type=submit] {
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #316F9C;
  border-radius: 8px;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: helvetica;
}

#clickme input[type=submit]:hover {
  background-color: #265578;
}

#edit {
  margin-top: 125px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Archivo Narrow', sans-serif;
}

#edit input[type=submit] {
  background: none;
  border: none;
  font-family: helvetica;
  font-size: 20px;
}

#edit input[type=submit]:hover {
  color: #636363;
}

#maps-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#activity-list {
  margin:0 10px 20px 10px;
  width: 52vw;
  overflow: scroll;
  height: 60vh;
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-list-info {
  width: 70%;
  font-family: 'Archivo Narrow', sans-serif;
}

.todo-list-info h2 {
  margin: 0 0 10px 0;
}

.todo-list-info p {
  font-family: helvetica;
}

.todo-list-info span {
  color: #316F9C;
}

.todo-list-info p span {
  font-weight: bold;
}

.todo-list-image {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list-image img {
  width: 60%;
  border-radius: 5px;
}

#activity-map {
  margin: 0 10px 20px 10px;
  width: 42vw;
  height: 60vh;
}

#map {
  width: 100%;
  height: 100%;
}

#edit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(224, 159, 146, 0.7);
  margin: 20vh 30vw;
  border-radius: 10px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
}

#edit-container h3 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 20px 0 0 0;
}

#edit-container h2 {
  margin: 0;
  font-size: 30px;
}

#edit-container p {
  font-size: 15px;
}

#edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0;
}

#edit-container a {
  text-decoration: none;
  padding-bottom: 20px;
  color: #343036;
  font-size: 20px;
}

#edit-container textarea {
  width: 90%;
  height: 60%;
  border: none;
  background-color: #FFE7DC;
  font-size: 18px;
  border-radius: 7px;
  margin: 0 auto 10px auto;
  -webkit-appearance: none;
  resize: none;
}

#edit-container input[type=text]:hover {
  border: 2px solid #555;
}

#edit-container a:hover {
  color: black;
}

#edit-container input[type=submit] {
  padding: 5px 15px 5px 15px;
  border: none;
  font-size: 17px;
  margin-bottom: 10px;
  background-color: #876058;
  border-radius: 5px;
  -webkit-appearance: none;
}

#edit-container input[type=submit]:hover {
  background-color: #A6766C;
  -webkit-appearance: none;
}

input[type=text] {
  width: 400px;

  -webkit-appearance: none;
}
